
@media (max-width: 640px) {
    .text-xs-left { text-align: left; }
    .text-xs-right { text-align: right; }
    .text-xs-center { text-align: center; }
    .text-xs-justify { text-align: justify; }

    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .region-content {
        padding-right: 0px;
    }

    .nodeListItem:last-child{
        display: none;
    }

    #bios img{
        width: 100% !important;
    }

    .bios-title{
        font-size: 2.3rem;
        text-align: center;
        margin-bottom: 10px;
    }

    .node-autor, .node-date{display: block !important;float: none !important;}
    .node-date{font-size: 1.3rem}

    .newsletter-title{
        font-size: 2rem;
        text-align: center;
    }

    .newsletter-logo{
        width: 23%;
    }

    #newsletter-subscription .banner{
        margin: 0 auto;
        width: 100%;
        padding: 5px;
        text-align: center;
        background: transparent;
    }

    #footer-brand-inner {
        width: 35%;
        margin: 0 auto;

    }

    #footer-brand-inner .brand-text{
        display: none;
    }

    .footer-spotify-inner {
        width: 100%;
        margin: 0 auto;
    }

    #footer-spotify a {
        font-size: 1.5rem;
        width: 71%;
    }

    #footer-social ul {
        width: 100%;
        margin: 0 auto;
        padding-left: 10px;
    }

    #footer-social ul li {
        padding: 5px;
    }

    /***Node Styles**/
    .node-article-wrapper {
        padding-right: 0px;
    }


    .path-node .region-content {
        padding-right: 10px;
    }

    .path-node .related_nodes-title {
        font-size: 2.5rem;
        text-align: center;
    }


}

@media (min-width: 768px) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }

    .nodeListItem {
        cursor: pointer;
        font-size: 1.5rem;
    }

    .newsletter-logo {
        width: 30%;
        display: inline-block;
    }

    .newsletter-title {
        width: 65%;
        font-size: 1.6rem;
    }

    #mailchimp-signup-subscribe-block-mmb-mc-form input[type="email"] {
        width: 80%;
        font-size: 1.6rem;
    }

    #mailchimp-signup-subscribe-block-mmb-mc-form .form-submit {
        width: 80%;
        font-size: 1.3rem;
    }
    
    .footer-spotify-inner {
        width: 95%;
    }

    #footer-social ul {
        width: 50%;
    }

}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    #footer-brand-inner {
        width: 57%;
        margin: 0 auto;
    }

    .footer-spotify-inner {
        width: 93%;
        margin: 0 auto;
    }

    #footer-social ul {
        width: 50%;
        margin: 0 auto;
        padding: 5px;
    }

    .nodeListItem:last-child{
        display: none;
    }
}

@media (min-width: 992px) {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }

    .container {
        width: 1010px;
    }

    section.col-sm-8{
        width: 700px !important;
    }

    .sidebar-second{
        width: 300px !important;
    }
}

@media (min-width: 1200px) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }

    .container {
        max-width: 1024px !important;
        width: 1024px !important;
    }
}