<div id="newsletter-subscription" class="sky-blue pall10 mt10">
    <div class="form-section pull-left col-sm-7">
        <div class="block PN3r0 text-bold ml10 text-upper">
            <span class="newsletter-logo"></span><span class="text-white newsletter-title">Más Música Banda</span>
        </div>
        <p class="text-white block text-center">
            Mantente al contacto y al día, Te enviaremos los mejor de tu música favorita!,
            solo dejanos tu email y nosotros hacemos los demás
        </p>
        <div id="newsletter-subscription-form">
            <span id="mailchimp-signup-subscribe-block-mmb-mc-form-error-message"></span>
            {{ content }}
        </div>
        <span class="text-black block pall5 text-center mt10 pull-none newsletter-conditions">
            Al continuar estas aceptando nuestro Aviso de privacidad, nuestros Términos y condiciones de uso
        </span>
    </div>
    <div class="pull-right col-sm-5 mt30 banner">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- box-content-1 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-3878010380895666"
             data-ad-slot="2676817637"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <div class="clear"></div>
</div>