<div id="footer-brand">
    <div id="footer-brand-inner">
        <a class="navbar-brand" href="#!">
            <img height="80" src="/musicabanda/logo.png" />
        </a>
        <span class="text-bold text-upper text-black brand-text">El lugar de banda para la banda</span>
    </div>
</div>
<div id="footer-spotify" class="text-center text-white green">
    Lo mejor de musica banda en nuestro Playlist , escúchalo ahora!
</div>
<div id="foot-year" class="text-center text-white black">
    2017
</div>