<div id="newsletter-subscription" class="sky-blue pall10 mt10">
    <div class="form-section pull-left col-sm-7">
        <div class="block PN3r0 text-bold ml10 text-upper">
            <span class="newsletter-logo"></span><span class="text-white newsletter-title">Más Música Banda</span>
        </div>
        <p class="text-white block text-center">
            Mantente al contacto y al día, Te enviaremos los mejor de tu música favorita!,
            solo dejanos tu email y nosotros hacemos los demás
        </p>
        <div id="newsletter-subscription-form">
            <span id="mailchimp-signup-subscribe-block-mmb-mc-form-error-message"></span>
            {{ content }}
        </div>
        <span class="text-black block pall5 text-center mt10 pull-none newsletter-conditions">
            Al continuar estas aceptando nuestro Aviso de privacidad, nuestros Términos y condiciones de uso
        </span>
    </div>
    <div class="pull-right col-sm-5 mt30 banner">
        <img class="img-fluid" src="http://www.lacapitalmx.com/sites/all/themes/lacapitalmx/images/esnoticia.jpg" />
    </div>
    <div class="clear"></div>
</div>